@import '../../shared/colors.scss';

.category {
	top: 70px;
	z-index: 1;
	background-color: $bg-color;
	h4 {
		color: $red;
	}
}
ul.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	grid-gap: 0.75rem;
	list-style-type: none;

	li {
		position: relative;
		&.imported {
			background-color: $blue-tr-2;
		}
		.title {
			display: flex;
			padding: 4px 0 4px 4px;

			color: $bg-color;
			&.list {
				background-color: $yellow;
			}
			&.note {
				background-color: $green;
			}
			&.recipe {
				background-color: $blue;
			}
			
			h4 {
				margin: 2px 0 0 0;
			}
		}
		.summary {
			font-size: 13px;
		}
	}
}