<!-- <button (click)="getRecipes()">getRecipes</button>
<br />
<button (click)="saveAllRecipes()">save all Recipes</button> -->
<ul >
	<li *ngFor="let recipeGroup of recipes">
		<button  class="w-full text-left block category sticky" (click)="toggleCategory(recipeGroup[0].category)">
			<recipe-icon *ngIf="showCategory[recipeGroup[0].category]" color="#fd4b4a" name="chevron_down"></recipe-icon>
			<recipe-icon *ngIf="!showCategory[recipeGroup[0].category]" color="#fd4b4a" name="chevron_right"></recipe-icon>
			<h4 class="py-3 font-bold inline-block">
				{{recipeGroup[0].category}}
			</h4>
		</button>
		<ul *ngIf="showCategory[recipeGroup[0].category]" class="grid">
			<li *ngFor="let recipe of recipeGroup">
				<a [routerLink]="['/show-recipe', recipe.id]" routerLinkActive="active">
					<div>
						<div [ngClass]="{'note': recipe.type === types.note, 'recipe': recipe.type === types.recipe,'list': recipe.type === types.list}"
							class="title">
							<recipe-icon *ngIf="recipe.type === types.recipe" color="#ffffff" name="recipe"></recipe-icon>
							<recipe-icon *ngIf="recipe.type === types.note" color="#ffffff" name="notes"></recipe-icon>
							<recipe-icon *ngIf="recipe.type === types.list" color="#ffffff" name="list"></recipe-icon>
							&nbsp;
							<span>{{recipe.name}}</span>
						</div>
		
						<div class="summary" *ngIf="recipe.type === types.list" [innerHTML]="recipe.ingredients | truncate : 150 : true"></div>
						<div class="summary" *ngIf="recipe.type !== types.list"
							[innerHTML]="recipe.recipeInstructions | truncate : 150 : true"></div>
					</div>
				</a>
			</li>
		</ul>
	</li>
</ul>
