$color0:#ffffff;
$color1: #5271C2;
$color2: #35a541;
$color3: #bdb235;
$color4: #db6623;
$color5: #3e5eb3;
$color6: #aa9e5c;

@function longshadow($color_a, $color_b, $stepnum, $opacity: 1) {
	$gradient_steps: null;

	@for $i from 1 through $stepnum {
		$weight: (($i - 1) / $stepnum) * 100;
		$colour_mix: mix($color_b, rgba($color_a, $opacity), $weight);
		$seperator: null;

		@if($i !=$stepnum) {
			$seperator: #{','};
		}

		$gradient_steps: append(#{$gradient_steps}, #{$i}px #{$i*2}px $colour_mix $seperator);
	}

	@return $gradient_steps;
}

ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	grid-gap: 2rem;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		position: relative;
		a {
			text-decoration: none;
			color: #000;
			.title {
				display: flex;
				padding: 4px 0 4px 4px;
				box-shadow: longshadow(darken($color0, 20%), $color0, 50, 0.8);
	
				color: $color0;
				&.list {
					background-color: $color1;
				}
				&.note {
					background-color: $color2;
				}
				&.recipe {
					background-color: $color3;
				}
				h4 {
					margin: 2px 0 0 0;
				}
			}
			.summary {
				font-size: 13px;
			}
		}
		
	}
}