<div class="toolbar flex space-x-4">
	<h4 class="text-1xl relative top-2">{{title}}</h4>
	<span class="flex-1"></span>
	<button class="border-2 p-2 m-1 rounded-none" (click)="searchToggle()">
		<recipe-icon color="red" name="search"></recipe-icon>
	</button>
	<button class="border-2 p-2 m-1 rounded-none" (click)="authToggle()">
		<recipe-icon *ngIf="!authenticated" color="red" name="lock_close"></recipe-icon>
		<recipe-icon  *ngIf="authenticated" color="red" name="lock_open"></recipe-icon>
	</button>
	<button class="border-2 m-1 p-2 rounded-none" aria-label="menu">
		<recipe-icon color="red" name="menu"></recipe-icon>
	</button>
</div>