@import '../../shared/colors.scss';

.form-input-container {
	background-color: $bg-color;
	border-color: $red;
	@apply flex relative justify-between items-center border-b-2;
	input {
		background-color: $bg-color;
	}
}
.ck-label {
	@apply font-bold mt-5 block;
}

.close-button {
	right: 10px;
	top: 15px;
	color: $red;
	i {
		font-size: 22px;
	}
}