@import '../../shared/colors.scss';

.form-input-container {
	background-color: $bg-color;
	border-color: $red;
	@apply font-bold flex justify-between items-center border-b-2;
	input {
		background-color: $bg-color;
	}
}
.ck-label {
	@apply font-bold mt-5 block;
}
.autocomplete input {
	background-color: $bg-color;
}