<form class="relative" *ngIf="recipe" [formGroup]="recipeForm">
	<div class="form-input-container">
		<label class="font-bold mr-2" for="title">Titel:</label>
		<input class="h-12 flex-1" type="text" id="title" formControlName="title" />
		<button (click)="clearTitle()" class="absolute close-button" ><recipe-icon color="#fd4b4a" name="close"></recipe-icon></button>
	</div>

	<div class="form-input-container autocomplete">
		<label class="font-bold mr-2" for="category">Categorie:</label>
		<ng-autocomplete [data]="categories" formControlName="category"
			[searchKeyword]="keyword"
			[itemTemplate]="itemTemplateStatic">
		</ng-autocomplete>
	</div>

	<ng-template #itemTemplateStatic let-item>
		<a [innerHTML]="item"></a>
	</ng-template>

	<div>
		<label class="ck-label" for="ingredients">Ingredienten:</label>
		<ckeditor id="ingredients" [editor]="Editor" formControlName="ckIngredients"></ckeditor>
	</div>

	<div class="form-input-container">
		<label class="font-bold mr-2" for="servings">Porties:</label>
		<input class="h-12 flex-1" type="number" id="servings" formControlName="servings" />
	</div>

	<div>
		<label class="ck-label" for="instructions">Bereiding:</label>
		<ckeditor id="instructions" [editor]="Editor" formControlName="ckInstructions"></ckeditor>
	</div>

	<div class="form-input-container">
		<app-time-picker label="Voorbereiding:" formControlName="prepTime"></app-time-picker>
		<app-time-picker label="Bereiding:" formControlName="cookTime"></app-time-picker>
	</div>

	<div class="form-input-container">
		<label class="font-bold mr-2" for="tags">Tags:</label>
		<input class="h-12 flex-1" type="text" id="tags" formControlName="tags" />
		<button (click)="clearTags()" class="absolute close-button" ><recipe-icon color="#fd4b4a" name="close"></recipe-icon></button>
	</div>

</form>
<p class="py-8" *ngIf="!recipe">Er ging iets mis. Het recept is niet gevonden.</p>