@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
	background-color: #f9f5ef;
}

button:focus, input:focus {
    outline: none;
    background-color:#ece8e1 !important;
}